* {
    box-sizing:border-box;
}

#calculator {
    border: 4px solid black;
    display:flex;
    width:25%;
    height:100%;
    background-color: blueviolet;
    flex-wrap:wrap;
}

#screen {
    width:100%;
    height: 100px;
    background-color: #9cbfe5
}

.largeButton {
    width:50%;
    height:70px;
}

.button {
   width:25%;
   height:70px;
}

#screen {
    font-size: 30px;
}